APP_NAME=VaultOS
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=http://localhost

DB_CONNECTION=sqlsrv
DB_HOST=db
DB_PORT=1433
DB_DATABASE=vaultos
DB_USERNAME=sa
DB_PASSWORD=VaultOS_Str0ng!

LOG_CHANNEL=stack
LOG_LEVEL=debug

SESSION_DRIVER=file
SESSION_LIFETIME=120
CACHE_DRIVER=file
